[submodule "GDKEngine/Dependencies/bgfx"]
	path = GDKEngine/Dependencies/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "GDKEngine/Dependencies/nuklear_cross"]
	path = GDKEngine/Dependencies/nuklear_cross
	url = https://github.com/DeXP/nuklear_cross.git
[submodule "GDKEngine/Dependencies/boolinq"]
	path = GDKEngine/Dependencies/boolinq
	url = https://github.com/k06a/boolinq.git
[submodule "GDKEngine/Dependencies/assimp"]
	path = GDKEngine/Dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "GDKEngine/Dependencies/lodepng"]
	path = GDKEngine/Dependencies/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "GDKEngine/Dependencies/Linq"]
	path = GDKEngine/Dependencies/Linq
	url = https://github.com/pfultz2/Linq.git
[submodule "GDKEngine/Dependencies/CINQ"]
	path = GDKEngine/Dependencies/CINQ
	url = https://github.com/jeb2239/CINQ.git
[submodule "GDKEngine/Dependencies/xlinq"]
	path = GDKEngine/Dependencies/xlinq
	url = https://github.com/trolleyyy/xlinq.git
