[submodule "GDKEngine/Dependencies/bgfx"]
	path = GDKEngine/Dependencies/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "GDKEngine/Dependencies/nuklear_cross"]
	path = GDKEngine/Dependencies/nuklear_cross
	url = https://github.com/DeXP/nuklear_cross.git
