[submodule "GDKEngine/Dependencies/bgfx"]
	path = GDKEngine/Dependencies/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "GDKEngine/Dependencies/nuklear_cross"]
	path = GDKEngine/Dependencies/nuklear_cross
	url = https://github.com/DeXP/nuklear_cross.git
[submodule "GDKEngine/Dependencies/boolinq"]
	path = GDKEngine/Dependencies/boolinq
	url = https://github.com/k06a/boolinq.git
[submodule "GDKEngine/Dependencies/assimp"]
	path = GDKEngine/Dependencies/assimp
	url = https://github.com/assimp/assimp.git
